In [29]:
import pandas as pd

education_df = pd.read_csv("raw-data/SYB62_T09_201905_Public Expenditure on Education.csv")

In [30]:
education_df.head()

,﻿T09,Public expenditure on education,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
1,4,Afghanistan,2010,Current expenditure other than staff compensat...,9.3032,NaN,"United Nations Educational, Scientific and Cul..."
2,4,Afghanistan,2010,All staff compensation as % of total expenditu...,72.3783,NaN,"United Nations Educational, Scientific and Cul..."
3,4,Afghanistan,2010,Capital expenditure as % of total expenditure ...,18.3186,NaN,"United Nations Educational, Scientific and Cul..."
4,4,Afghanistan,2010,Expenditure by level of education: primary (as...,62.1365,NaN,"United Nations Educational, Scientific and Cul..."

In [31]:
gdp_df = pd.read_csv("raw-data/SYB62_T13_201904_GDP and GDP Per Capita.csv", encoding = "ISO-8859-1" )

In [32]:
gdp_df.head()

,[T13.],Gross domestic product and gross domestic product per capita,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
1,1,"Total, all countries or areas",1985,GDP in current prices (millions of US dollars),"13,518,851",NaN,"United Nations Statistics Division, New York, ..."
2,1,"Total, all countries or areas",1995,GDP in current prices (millions of US dollars),"31,084,222",NaN,"United Nations Statistics Division, New York, ..."
3,1,"Total, all countries or areas",2005,GDP in current prices (millions of US dollars),"47,550,129",NaN,"United Nations Statistics Division, New York, ..."
4,1,"Total, all countries or areas",2010,GDP in current prices (millions of US dollars),"66,145,612",NaN,"United Nations Statistics Division, New York, ..."

In [33]:
education_gdp = education_df['Unnamed: 3']=="Public expenditure on education (% of GDP)"
education_exp = education_df['Unnamed: 3']=="Public expenditure on education (% of government expenditure)"

ed_exp = education_df[education_exp]
ed_gdp = education_df[education_gdp]

In [34]:
def get_pd_groupedby( ed1, col ):
    df_grouped = ed1.groupby([col], as_index=True).agg({"Unnamed: 2":'max'})
    df_grouped = df_grouped.reset_index()
    df_grouped = df_grouped.rename(columns={'Unnamed: 2':'year_max'})

    df = pd.merge(ed1, df_grouped, how='left', on=[col])
    df = df[df["Unnamed: 2"] == df['year_max']]
    df = df[["Public expenditure on education", "Unnamed: 2", "Unnamed: 4"]]
    df = df.reset_index()
    del df["index"]
    df.columns = ["Country", "Year", "%"]
    df["%"] = pd.to_numeric(df["%"])
    return df

a1 = get_pd_groupedby(ed_exp, "Public expenditure on education")
a2 = get_pd_groupedby(ed_gdp, "Public expenditure on education")

del a1['Year']
del a2['Year']
a1.to_json("data/expenditureEducationExp.json")
a2.to_json("data/expenditureEducationGDP.json")
a = a1.sort_values(by=['%'], ascending=False)
a.head()

      Country        %
62    Grenada  42.7886
170  Zimbabwe  30.0076
52   Ethiopia  27.0987
51   Eswatini  24.9452
18     Bhutan  24.0410

In [35]:
active_fires = pd.read_csv("raw-data/VNP14IMGTDL_NRT_Global_24h.csv")

In [36]:
active_fires.head()

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,confidence,version,bright_ti5,frp,daynight
0,10.28729,11.19320,295.8,0.40,0.60,2019-08-23,6,N,nominal,1.0NRT,272.0,0.5,N
1,-1.06422,30.05769,302.0,0.56,0.69,2019-08-23,6,N,nominal,1.0NRT,279.8,1.0,N
2,-1.48444,30.77881,295.4,0.63,0.72,2019-08-23,6,N,nominal,1.0NRT,284.3,1.1,N
3,-1.59926,30.70336,299.9,0.63,0.72,2019-08-23,6,N,nominal,1.0NRT,282.9,2.2,N
4,-1.60022,30.70971,306.6,0.63,0.72,2019-08-23,6,N,nominal,1.0NRT,282.9,2.0,N

In [37]:
active_fires.max()

latitude         71.7446
longitude        179.097
bright_ti4           367
scan                 0.8
track               0.78
acq_date      2019-08-24
acq_time            2354
satellite              N
confidence       nominal
version           1.0NRT
bright_ti5           380
frp                937.7
daynight               N
dtype: object

In [38]:
active_fires.min()

latitude        -70.3403
longitude       -172.628
bright_ti4           208
scan                0.32
track               0.36
acq_date      2019-08-23
acq_time               0
satellite              N
confidence          high
version           1.0NRT
bright_ti5         220.1
frp                    0
daynight               D
dtype: object

In [39]:
active_fires1 = active_fires[['latitude', 'longitude', 'frp']]
active_fires1.to_json("data/activefires.json")