In [1]:
import pandas as pd

education_df = pd.read_csv("SYB62_T09_201905_Public Expenditure on Education.csv")

In [2]:
education_df

,T09,Public expenditure on education,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
1,4,Afghanistan,2010,Current expenditure other than staff compensat...,9.3032,NaN,"United Nations Educational, Scientific and Cul..."
2,4,Afghanistan,2010,All staff compensation as % of total expenditu...,72.3783,NaN,"United Nations Educational, Scientific and Cul..."
3,4,Afghanistan,2010,Capital expenditure as % of total expenditure ...,18.3186,NaN,"United Nations Educational, Scientific and Cul..."
4,4,Afghanistan,2010,Expenditure by level of education: primary (as...,62.1365,NaN,"United Nations Educational, Scientific and Cul..."
5,4,Afghanistan,2010,Expenditure by level of education: secondary (...,26.6937,NaN,"United Nations Educational, Scientific and Cul..."
6,4,Afghanistan,2010,Expenditure by level of education: tertiary (a...,9.0322,NaN,"United Nations Educational, Scientific and Cul..."
7,4,Afghanistan,2010,Public expenditure on education (% of governme...,17.0676,NaN,"United Nations Educational, Scientific and Cul..."
8,4,Afghanistan,2010,Public expenditure on education (% of GDP),3.4620,NaN,"United Nations Educational, Scientific and Cul..."
9,4,Afghanistan,2015,Current expenditure other than staff compensat...,8.9602,NaN,"United Nations Educational, Scientific and Cul..."
10,4,Afghanistan,2015,All staff compensation as % of total expenditu...,71.4471,NaN,"United Nations Educational, Scientific and Cul..."
11,4,Afghanistan,2015,Capital expenditure as % of total expenditure ...,19.5927,NaN,"United Nations Educational, Scientific and Cul..."
12,4,Afghanistan,2015,Expenditure by level of education: primary (as...,56.6955,NaN,"United Nations Educational, Scientific and Cul..."
13,4,Afghanistan,2015,Expenditure by level of education: secondary (...,24.3563,NaN,"United Nations Educational, Scientific and Cul..."
14,4,Afghanistan,2015,Expenditure by level of education: tertiary (a...,15.9538,NaN,"United Nations Educational, Scientific and Cul..."
15,4,Afghanistan,2015,Public expenditure on education (% of governme...,12.5090,NaN,"United Nations Educational, Scientific and Cul..."
16,4,Afghanistan,2015,Public expenditure on education (% of GDP),3.2420,NaN,"United Nations Educational, Scientific and Cul..."
17,4,Afghanistan,2017,Expenditure by level of education: primary (as...,44.1906,Estimate.,"United Nations Educational, Scientific and Cul..."
18,4,Afghanistan,2017,Expenditure by level of education: secondary (...,22.2537,Estimate.,"United Nations Educational, Scientific and Cul..."
19,4,Afghanistan,2017,Public expenditure on education (% of governme...,15.6614,Estimate.,"United Nations Educational, Scientific and Cul..."
20,4,Afghanistan,2017,Public expenditure on education (% of GDP),3.9268,Estimate.,"United Nations Educational, Scientific and Cul..."
21,8,Albania,2005,Public expenditure on education (% of governme...,11.3580,NaN,"United Nations Educational, Scientific and Cul..."
22,8,Albania,2005,Public expenditure on education (% of GDP),3.2387,NaN,"United Nations Educational, Scientific and Cul..."
23,8,Albania,2007,Public expenditure on education (% of governme...,11.1772,NaN,"United Nations Educational, Scientific and Cul..."
24,8,Albania,2007,Public expenditure on education (% of GDP),3.2687,NaN,"United Nations Educational, Scientific and Cul..."
25,8,Albania,2015,Current expenditure other than staff compensat...,12.4627,NaN,"United Nations Educational, Scientific and Cul..."
26,8,Albania,2015,All staff compensation as % of total expenditu...,79.4827,NaN,"United Nations Educational, Scientific and Cul..."
27,8,Albania,2015,Capital expenditure as % of total expenditure ...,8.0546,NaN,"United Nations Educational, Scientific and Cul..."
28,8,Albania,2015,Expenditure by level of education: primary (as...,56.7669,NaN,"United Nations Educational, Scientific and Cul..."
29,8,Albania,2015,Expenditure by level of education: secondary (...,21.5817,NaN,"United Nations Educational, Scientific and Cul..."
...,...,...,...,...,...,...,...
4179,887,Yemen,2001,Public expenditure on education (% of GDP),9.2447,Estimate.,"United Nations Educational, Scientific and Cul..."
4180,887,Yemen,2008,Capital expenditure as % of total expenditure ...,25.7464,NaN,"United Nations Educational, Scientific and Cul..."
4181,887,Yemen,2008,Public expenditure on education (% of governme...,12.4892,NaN,"United Nations Educational, Scientific and Cul..."
4182,887,Yemen,2008,Public expenditure on education (% of GDP),5.1514,NaN,"United Nations Educational, Scientific and Cul..."
4183,894,Zambia,2004,Current expenditure other than staff compensat...,25.2130,NaN,"United Nations Educational, Scientific and Cul..."
4184,894,Zambia,2004,All staff compensation as % of total expenditu...,72.9922,NaN,"United Nations Educational, Scientific and Cul..."
4185,894,Zambia,2004,Capital expenditure as % of total expenditure ...,1.7948,NaN,"United Nations Educational, Scientific and Cul..."
4186,894,Zambia,2004,Expenditure by level of education: primary (as...,63.8612,NaN,"United Nations Educational, Scientific and Cul..."
4187,894,Zambia,2004,Expenditure by level of education: secondary (...,13.3018,NaN,"United Nations Educational, Scientific and Cul..."
4188,894,Zambia,2004,Expenditure by level of education: tertiary (a...,18.0497,NaN,"United Nations Educational, Scientific and Cul..."
4189,894,Zambia,2004,Public expenditure on education (% of governme...,10.5850,NaN,"United Nations Educational, Scientific and Cul..."
4190,894,Zambia,2004,Public expenditure on education (% of GDP),2.4634,NaN,"United Nations Educational, Scientific and Cul..."
4191,894,Zambia,2005,Expenditure by level of education: primary (as...,59.7587,NaN,"United Nations Educational, Scientific and Cul..."
4192,894,Zambia,2005,Expenditure by level of education: secondary (...,14.4887,NaN,"United Nations Educational, Scientific and Cul..."
4193,894,Zambia,2005,Expenditure by level of education: tertiary (a...,25.7527,NaN,"United Nations Educational, Scientific and Cul..."
4194,894,Zambia,2005,Public expenditure on education (% of governme...,7.7297,NaN,"United Nations Educational, Scientific and Cul..."
4195,894,Zambia,2005,Public expenditure on education (% of GDP),1.7355,NaN,"United Nations Educational, Scientific and Cul..."
4196,894,Zambia,2008,Public expenditure on education (% of governme...,5.6518,NaN,"United Nations Educational, Scientific and Cul..."
4197,894,Zambia,2008,Public expenditure on education (% of GDP),1.0997,NaN,"United Nations Educational, Scientific and Cul..."
4198,716,Zimbabwe,2010,Expenditure by level of education: primary (as...,51.5801,NaN,"United Nations Educational, Scientific and Cul..."
4199,716,Zimbabwe,2010,Expenditure by level of education: secondary (...,25.6049,NaN,"United Nations Educational, Scientific and Cul..."
4200,716,Zimbabwe,2010,Expenditure by level of education: tertiary (a...,22.8150,NaN,"United Nations Educational, Scientific and Cul..."
4201,716,Zimbabwe,2010,Public expenditure on education (% of governme...,8.7209,NaN,"United Nations Educational, Scientific and Cul..."
4202,716,Zimbabwe,2010,Public expenditure on education (% of GDP),1.8333,NaN,"United Nations Educational, Scientific and Cul..."
4203,716,Zimbabwe,2014,Expenditure by level of education: pre-primary...,2.0224,NaN,"United Nations Educational, Scientific and Cul..."
4204,716,Zimbabwe,2014,Expenditure by level of education: primary (as...,47.7685,NaN,"United Nations Educational, Scientific and Cul..."
4205,716,Zimbabwe,2014,Expenditure by level of education: secondary (...,26.8664,NaN,"United Nations Educational, Scientific and Cul..."
4206,716,Zimbabwe,2014,Expenditure by level of education: tertiary (a...,16.8321,NaN,"United Nations Educational, Scientific and Cul..."
4207,716,Zimbabwe,2014,Public expenditure on education (% of governme...,30.0076,NaN,"United Nations Educational, Scientific and Cul..."
4208,716,Zimbabwe,2014,Public expenditure on education (% of GDP),7.5307,NaN,"United Nations Educational, Scientific and Cul..."

In [3]:
gdp_df = pd.read_csv("SYB62_T13_201904_GDP and GDP Per Capita.csv", encoding = "ISO-8859-1" )

In [4]:
gdp_df

,[T13.],Gross domestic product and gross domestic product per capita,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
1,1,"Total, all countries or areas",1985,GDP in current prices (millions of US dollars),"13,518,851",NaN,"United Nations Statistics Division, New York, ..."
2,1,"Total, all countries or areas",1995,GDP in current prices (millions of US dollars),"31,084,222",NaN,"United Nations Statistics Division, New York, ..."
3,1,"Total, all countries or areas",2005,GDP in current prices (millions of US dollars),"47,550,129",NaN,"United Nations Statistics Division, New York, ..."
4,1,"Total, all countries or areas",2010,GDP in current prices (millions of US dollars),"66,145,612",NaN,"United Nations Statistics Division, New York, ..."
5,1,"Total, all countries or areas",2015,GDP in current prices (millions of US dollars),"74,757,288",NaN,"United Nations Statistics Division, New York, ..."
6,1,"Total, all countries or areas",2016,GDP in current prices (millions of US dollars),"75,840,177",NaN,"United Nations Statistics Division, New York, ..."
7,1,"Total, all countries or areas",2017,GDP in current prices (millions of US dollars),"80,501,414",NaN,"United Nations Statistics Division, New York, ..."
8,1,"Total, all countries or areas",1985,GDP per capita (US dollars),"2,776",NaN,"United Nations Statistics Division, New York, ..."
9,1,"Total, all countries or areas",1995,GDP per capita (US dollars),"5,406",NaN,"United Nations Statistics Division, New York, ..."
10,1,"Total, all countries or areas",2005,GDP per capita (US dollars),"7,270",NaN,"United Nations Statistics Division, New York, ..."
11,1,"Total, all countries or areas",2010,GDP per capita (US dollars),"9,508",NaN,"United Nations Statistics Division, New York, ..."
12,1,"Total, all countries or areas",2015,GDP per capita (US dollars),"10,128",NaN,"United Nations Statistics Division, New York, ..."
13,1,"Total, all countries or areas",2016,GDP per capita (US dollars),"10,159",NaN,"United Nations Statistics Division, New York, ..."
14,1,"Total, all countries or areas",2017,GDP per capita (US dollars),"10,665",NaN,"United Nations Statistics Division, New York, ..."
15,1,"Total, all countries or areas",1985,GDP in constant 2010 prices (millions of US do...,"31,826,492",NaN,"United Nations Statistics Division, New York, ..."
16,1,"Total, all countries or areas",1995,GDP in constant 2010 prices (millions of US do...,"42,246,915",NaN,"United Nations Statistics Division, New York, ..."
17,1,"Total, all countries or areas",2005,GDP in constant 2010 prices (millions of US do...,"58,258,483",NaN,"United Nations Statistics Division, New York, ..."
18,1,"Total, all countries or areas",2010,GDP in constant 2010 prices (millions of US do...,"66,145,612",NaN,"United Nations Statistics Division, New York, ..."
19,1,"Total, all countries or areas",2015,GDP in constant 2010 prices (millions of US do...,"75,839,510",NaN,"United Nations Statistics Division, New York, ..."
20,1,"Total, all countries or areas",2016,GDP in constant 2010 prices (millions of US do...,"77,669,298",NaN,"United Nations Statistics Division, New York, ..."
21,1,"Total, all countries or areas",2017,GDP in constant 2010 prices (millions of US do...,"80,050,391",NaN,"United Nations Statistics Division, New York, ..."
22,1,"Total, all countries or areas",1985,GDP real rates of growth (percent),3.5,NaN,"United Nations Statistics Division, New York, ..."
23,1,"Total, all countries or areas",1995,GDP real rates of growth (percent),3.1,NaN,"United Nations Statistics Division, New York, ..."
24,1,"Total, all countries or areas",2005,GDP real rates of growth (percent),3.9,NaN,"United Nations Statistics Division, New York, ..."
25,1,"Total, all countries or areas",2010,GDP real rates of growth (percent),4.3,NaN,"United Nations Statistics Division, New York, ..."
26,1,"Total, all countries or areas",2015,GDP real rates of growth (percent),2.8,NaN,"United Nations Statistics Division, New York, ..."
27,1,"Total, all countries or areas",2016,GDP real rates of growth (percent),2.4,NaN,"United Nations Statistics Division, New York, ..."
28,1,"Total, all countries or areas",2017,GDP real rates of growth (percent),3.1,NaN,"United Nations Statistics Division, New York, ..."
29,2,Africa,1985,GDP in current prices (millions of US dollars),"517,301",NaN,"United Nations Statistics Division, New York, ..."
...,...,...,...,...,...,...,...
6610,836,Zanzibar,2016,GDP real rates of growth (percent),6.2,NaN,"United Nations Statistics Division, New York, ..."
6611,836,Zanzibar,2017,GDP real rates of growth (percent),4.3,NaN,"United Nations Statistics Division, New York, ..."
6612,716,Zimbabwe,1985,GDP in current prices (millions of US dollars),"7,548",NaN,"United Nations Statistics Division, New York, ..."
6613,716,Zimbabwe,1995,GDP in current prices (millions of US dollars),"9,576",NaN,"United Nations Statistics Division, New York, ..."
6614,716,Zimbabwe,2005,GDP in current prices (millions of US dollars),"6,223",NaN,"United Nations Statistics Division, New York, ..."
6615,716,Zimbabwe,2010,GDP in current prices (millions of US dollars),"10,142",NaN,"United Nations Statistics Division, New York, ..."
6616,716,Zimbabwe,2015,GDP in current prices (millions of US dollars),"16,305",NaN,"United Nations Statistics Division, New York, ..."
6617,716,Zimbabwe,2016,GDP in current prices (millions of US dollars),"16,620",NaN,"United Nations Statistics Division, New York, ..."
6618,716,Zimbabwe,2017,GDP in current prices (millions of US dollars),"18,037",NaN,"United Nations Statistics Division, New York, ..."
6619,716,Zimbabwe,1985,GDP per capita (US dollars),872,NaN,"United Nations Statistics Division, New York, ..."
6620,716,Zimbabwe,1995,GDP per capita (US dollars),846,NaN,"United Nations Statistics Division, New York, ..."
6621,716,Zimbabwe,2005,GDP per capita (US dollars),481,NaN,"United Nations Statistics Division, New York, ..."
6622,716,Zimbabwe,2010,GDP per capita (US dollars),720,NaN,"United Nations Statistics Division, New York, ..."
6623,716,Zimbabwe,2015,GDP per capita (US dollars),"1,033",NaN,"United Nations Statistics Division, New York, ..."
6624,716,Zimbabwe,2016,GDP per capita (US dollars),"1,029",NaN,"United Nations Statistics Division, New York, ..."
6625,716,Zimbabwe,2017,GDP per capita (US dollars),"1,091",NaN,"United Nations Statistics Division, New York, ..."
6626,716,Zimbabwe,1985,GDP in constant 2010 prices (millions of US do...,"5,847",NaN,"United Nations Statistics Division, New York, ..."
6627,716,Zimbabwe,1995,GDP in constant 2010 prices (millions of US do...,"7,760",NaN,"United Nations Statistics Division, New York, ..."
6628,716,Zimbabwe,2005,GDP in constant 2010 prices (millions of US do...,"6,171",NaN,"United Nations Statistics Division, New York, ..."
6629,716,Zimbabwe,2010,GDP in constant 2010 prices (millions of US do...,"10,142",NaN,"United Nations Statistics Division, New York, ..."
6630,716,Zimbabwe,2015,GDP in constant 2010 prices (millions of US do...,"14,728",NaN,"United Nations Statistics Division, New York, ..."
6631,716,Zimbabwe,2016,GDP in constant 2010 prices (millions of US do...,"14,819",NaN,"United Nations Statistics Division, New York, ..."
6632,716,Zimbabwe,2017,GDP in constant 2010 prices (millions of US do...,"15,265",NaN,"United Nations Statistics Division, New York, ..."
6633,716,Zimbabwe,1985,GDP real rates of growth (percent),6.9,NaN,"United Nations Statistics Division, New York, ..."
6634,716,Zimbabwe,1995,GDP real rates of growth (percent),0.2,NaN,"United Nations Statistics Division, New York, ..."
6635,716,Zimbabwe,2005,GDP real rates of growth (percent),-4.1,NaN,"United Nations Statistics Division, New York, ..."
6636,716,Zimbabwe,2010,GDP real rates of growth (percent),12.6,NaN,"United Nations Statistics Division, New York, ..."
6637,716,Zimbabwe,2015,GDP real rates of growth (percent),1.7,NaN,"United Nations Statistics Division, New York, ..."
6638,716,Zimbabwe,2016,GDP real rates of growth (percent),0.6,NaN,"United Nations Statistics Division, New York, ..."
6639,716,Zimbabwe,2017,GDP real rates of growth (percent),3.0,NaN,"United Nations Statistics Division, New York, ..."

In [5]:
education_gdp = education_df['Unnamed: 3']=="Public expenditure on education (% of GDP)"
education_exp = education_df['Unnamed: 3']=="Public expenditure on education (% of government expenditure)"

ed_exp = education_df[education_exp]
ed_gdp = education_df[education_gdp]

In [12]:
def get_pd_groupedby( ed1, col ):
    df_grouped = ed1.groupby([col], as_index=True).agg({"Unnamed: 2":'max'})
    df_grouped = df_grouped.reset_index()
    df_grouped = df_grouped.rename(columns={'Unnamed: 2':'year_max'})

    df = pd.merge(ed1, df_grouped, how='left', on=[col])
    df = df[df["Unnamed: 2"] == df['year_max']]
    del df["T09"]
    del df["Unnamed: 3"]
    del df["Unnamed: 5"]
    del df["Unnamed: 6"]
    del df["year_max"]
    df = df.reset_index()
    del df["index"]
    #df.columns = ["Country", "Year", "%"]
    df.columns = ["Country", "Year", "%"]
    df["%"] = pd.to_numeric(df["%"])
    return df

a1 = get_pd_groupedby(ed_exp, "Public expenditure on education")
a2 = get_pd_groupedby(ed_gdp, "Public expenditure on education")

del a1['Year']
del a2['Year']
a1.to_json("expenditureEducationExp.json")
a2.to_json("expenditureEducationGDP.json")
a = a1.sort_values(by=['%'], ascending=False)
a

                         Country        %
62                       Grenada  42.7886
170                     Zimbabwe  30.0076
52                      Ethiopia  27.0987
51                      Eswatini  24.9452
18                        Bhutan  24.0410
63                     Guatemala  23.0881
156                      Tunisia  22.8985
98              Marshall Islands  22.5088
102  Micronesia (Fed. States of)  22.3124
68                      Honduras  22.0249
128                  Saint Lucia  21.9757
16                        Belize  21.6810
134                      Senegal  21.5628
32                         Chile  21.1555
94                      Malaysia  21.0557
158                 Turkmenistan  20.7955
72                     Indonesia  20.5033
20                      Botswana  20.4774
25                       Burundi  20.4014
60                         Ghana  20.0976
73    Iran (Islamic Republic of)  20.0420
138                    Singapore  19.9587
165                   Uzbekistan  19.9572
100                    Mauritius  19.9341
137                 Sierra Leone  19.9151
133                 Saudi Arabia  19.2574
149         Syrian Arab Republic  19.1841
151                     Thailand  19.1259
101                       Mexico  19.0188
129   Saint Vincent & Grenadines  18.9783
..                           ...      ...
121                     Portugal  10.1520
144                        Spain   9.7710
55                        France   9.6202
38                       Croatia   9.4946
91                    Luxembourg   9.4276
106                      Myanmar   9.4112
99                    Mauritania   9.3306
69                       Hungary   9.1391
78                         Japan   9.1311
124                      Romania   9.0762
122                        Qatar   8.8824
27                      Cambodia   8.7916
61                        Greece   8.7002
135                       Serbia   8.6930
3                         Angola   8.6848
112              North Macedonia   8.6409
127        Saint Kitts and Nevis   8.6355
87                       Lebanon   8.5755
9                     Azerbaijan   8.2012
76                         Italy   8.1130
36                         Congo   7.9504
30      Central African Republic   7.8255
107                      Namibia   7.6415
11                       Bahrain   7.1804
89                       Liberia   7.0580
4            Antigua and Barbuda   6.9281
152                  Timor-Leste   6.7729
169                       Zambia   5.6518
49                       Eritrea   5.1681
143                  South Sudan   1.0662

[171 rows x 2 columns]