In [17]:
import pandas as pd
pd.__version__

'0.25.3'

In [18]:
df = pd.read_excel('DTB_2018/RELATORIO_DTB_BRASIL_MUNICIPIO.xls', sheet_name='DTB_2018_Municipio')
print(df.columns)

Index(['UF', 'Nome_UF', 'Mesorregião Geográfica', 'Nome_Mesorregião',
       'Microrregião Geográfica', 'Nome_Microrregião', 'Município',
       'Código Município Completo', 'Nome_Município'],
      dtype='object')

In [19]:
df.count()

UF                           5570
Nome_UF                      5570
Mesorregião Geográfica       5570
Nome_Mesorregião             5570
Microrregião Geográfica      5570
Nome_Microrregião            5570
Município                    5570
Código Município Completo    5570
Nome_Município               5570
dtype: int64

In [20]:
df1 = df[["Nome_Município", "Nome_UF", "Código Município Completo"]]
df1

               Nome_Município           Nome_UF  Código Município Completo
0       Alta Floresta D'Oeste          Rondônia                    1100015
1     Alto Alegre dos Parecis          Rondônia                    1100379
2                Alto Paraíso          Rondônia                    1100403
3            Alvorada D'Oeste          Rondônia                    1100346
4                   Ariquemes          Rondônia                    1100023
...                       ...               ...                        ...
5565               Vianópolis             Goiás                    5222005
5566           Vicentinópolis             Goiás                    5222054
5567                 Vila Boa             Goiás                    5222203
5568            Vila Propício             Goiás                    5222302
5569                 Brasília  Distrito Federal                    5300108

[5570 rows x 3 columns]

In [54]:
df2 = df1[:]
df2

               Nome_Município           Nome_UF  Código Município Completo
0       Alta Floresta D'Oeste          Rondônia                    1100015
1     Alto Alegre dos Parecis          Rondônia                    1100379
2                Alto Paraíso          Rondônia                    1100403
3            Alvorada D'Oeste          Rondônia                    1100346
4                   Ariquemes          Rondônia                    1100023
...                       ...               ...                        ...
5565               Vianópolis             Goiás                    5222005
5566           Vicentinópolis             Goiás                    5222054
5567                 Vila Boa             Goiás                    5222203
5568            Vila Propício             Goiás                    5222302
5569                 Brasília  Distrito Federal                    5300108

[5570 rows x 3 columns]

In [22]:
import requests
import json

In [41]:
def getBolsaFamiliaData( mesAno, codigo ):
    params1 = {"mesAno":mesAno, "codigoIbge":codigo }
    response = requests.get("http://www.transparencia.gov.br/api-de-dados/bolsa-familia-por-municipio", params=params1)
    if response.status_code==200:
        data = response.json()
        if len(data)>0:
            return (str(data[0]['quantidadeBeneficiados']), str(data[0]['valor']) )
    
    return None

In [58]:
months = ["201911", "201912"]
#months = ["202001"]
for m in months:
    s = df2.copy(deep=False)
    df3 = s.apply(lambda x: getBolsaFamiliaData(m, x["Código Município Completo"]), axis=1)
    if(df3[0]!=None):
        df3 = df3.apply(pd.Series)
        df3.columns = ['Quantidade de Beneficiados', "Valor"]
        df4 = s.merge(df3, left_index=True, right_index=True)
        df4.to_csv("bolsafamilia"+m+"csv", index=False)
        print("Salvo bolsafamilia"+m+"csv")

Salvo bolsafamilia201911csv
Salvo bolsafamilia201912csv